.squared{
	border-radius: 0;
}
.equal-sides{
	display: inline-block;
	width: 30px;
	height: 30px;
	min-width: 40px;
	min-height: 40px;
	padding-top: 3px;
}
.money{
	width: 120px;
	height: 60px;
	margin:10px;
}
